
/* Chicago Jazzfest-specific styles */
.chijf.lineup-cubes .cubes-body {
  background-image: url('bg-jf.png');
}

.chijf.lineup-cubes table {
  font-family: "Arial";
}

.chijf.lineup-cubes .cubes-header th {
  background-color: #000000;
  color: #c8a4d0;
}

.chijf .artist-lineup .show-title {
}

.chijf .artist-lineup .show-time {
  color: #c8a4d0;
}

.chijf .artist-lineup .show-box {
  background-color: #3e2239; 
  color: #ffffff;
  border-radius: 3px;
}


