
/* Chicago Jazzfest-specific styles */

.chijf.event-grid table {
  font-family: "Arial";
}

.chijf.event-grid .egrid-header th {
  background-color: #FDF1CC;
  color: #A91344;
}

.chijf .artist-lineup .show-title {
}

.chijf .artist-lineup .show-time {
  color: #FDF1CC;
}

.chijf .artist-lineup .show-box {
  background-color: #26235F; 
  color: #ffffff;
  border-radius: 3px;
}
